<form class="form-search" style="padding-left: 40px" action="{{ path('quelp_relation_show') }}" method="POST" >
    <table style="border-collapse: collapse;width: 100%">
    <tr>
        <td> <input class="form-control" type="text" placeholder="Search by name, surname or profession" style="margin-left: 60px;color: dimgrey;width: 100%;float: left" id="name" name="name"></td>
        <td> <button  title="Search" class="btn btn-small btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span></button></td>
    </tr>
    </table>
</form>