{% extends "QuelpImageBundle::layout.html.twig" %}

{% block title %} terms of service {% endblock %}

{% block content %}
<div class="col-xs-12 col-md-8 col-md-offset-2" style="margin-top: 20px">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <h2>terms of service</h2>
                </div>
            </div> </div>
        <br><br>
        <div class="" style="margin-left:20px; margin-right: 20px">


        </div>
    </div>
</div>
{% endblock %}