
    <div class="col-xs-12 col-md-12" style="background-color: rgba(255, 255, 255, 0.1);">

            <div class="col-lg-6 col-lg-offset-3" style="padding: 10px;text-align: center;color: #ffffff;font-size: 12px">
                <a style="color: #ffffff" href="#">Privacy policy</a>
                <a style="color: #ffffff" href="#">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Terms of service</a>
                <a style="color: #ffffff" href="{{ path('quelp_infos_homepage') }}">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Contact us</a>
                <a style="color: #ffffff" href="#">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;About us</a>
                <a style="color: #ffffff" href="#">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Site map</a>
                <a style="color: #ffffff" href="#">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Profil</a>

                <h6>© Quelp 2014</h6>
            </div>
        </div>
