{% extends "QuelpConnectBundle:Common:center_bloc.html.twig" %}

{% block main %}
<div class="col-xs-12 col-md-7" id="status">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4>Activities</h4> </a>
        </div>

        <div id="statusResult">    <br>
            {# include 'StatusBundle:Default:index.html.twig' with {'user_lesson' : "", 'post_comment' : ""}  #}
        </div>      <br>
    </div>
</div>

<script type="text/javascript">
    
    var val = "";

    window.setInterval(function(){
        if (val == "") {
            loadAjax();
        }
    }, 4000);

    function addComment(key)
    {
        var comment = document.getElementById("commentPost"+key).value;
        var postId = document.getElementById("postid"+key).value;
        var DATA = 'commentText=' + comment + '&post=' + postId;
        $.ajax({
            type: "POST",
            url: "{{ path('quelp_status_commentAdd') }}",
            data: DATA,
            cache: false,
            success: function(data){
                loadAjax();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                 alert(errorThrown);
            }
        });
    }

    function checkValue(key)
    {
        val = document.getElementById("commentPost"+key).value;
    }

    function checkValueMOn()
    {
        val = "je suis la";
    }

    function checkValueMOut()
    {
        val = "";
    }

    function loadAjax()
    {
        $.ajax({
            type: "POST",
            url: "{{ path('quelp_status_show') }}",
            cache: false,
            success: function(data){
                $("#statusResult").html(data);
            }
        });
    }
</script>
{% endblock %}
