
<header>
    <div class="row header">
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-11">
            <h1 class="logo">Quelp</h1>
            <div class="pull-right" style="margin-top: -45px">
                <button data-toggle="modal" class="btn btn-default" data-target=".bs-example-modal-lg"  style="height: 35px;font-size: 15px;background-color: #66afe9;color: #ffffff"><a href="#" style="color: #ffffff;text-decoration: none">Se connecter</a></button>
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content" style="margin-top: 200px">
                            <form class="form-horizontal" role="form" style="margin-top: 30px">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: 50px">Utilisateur <span style="color: red; font-size: 10px">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Utilisateur">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label" style="margin-left: 50px">Mot de passe <span style="color: red; font-size: 10px">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="inputPassword3" placeholder="Mot de passe">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default" style="margin-left: 50px">Envoyer</button>
                                    </div>
                                </div>
                            </form>
                            <span style="font-size: 10px;margin-left: 610px;">Pas encore de compte ? <a href="#">Cliquez-ici</a></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>