
<!-- Contenu Ami en ligne -->
<div class="col-xs-12 col-md-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4 class="text-center">Partners</h4> </a>
        </div>
        <div class="boder">
            <input id="chatPartner" type="text" class="form-control" onkeyup="search()" placeholder="chat with  ..."></br>
            <div class="panel-group" id="accordion">
                <div id="connected">
                    {% include 'QuelpConnectBundle:Common:listUser.html.twig' with {'usersConnected' : ""}  %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function search() {
        var patner = document.getElementById("chatPartner").value;
        var DATA = 'Text=' + patner;
        $.ajax({
            type: "POST",
            url: "{{ path('quelp_user_searchconnect') }}",
            data: DATA,
            cache: false,
            success: function(data){
                $("#connected").html(data);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                 alert(errorThrown);
            }
        });
    }

    window.setInterval(function(){
        var patner = document.getElementById("chatPartner").value;
        if ( patner == "" ) {
            $.ajax({
                type: "POST",
                url: "{{ path('quelp_user_connect') }}",
                cache: false,
                success: function(data){
                    $("#connected").html(data);
                }
            });
        }
    }, 2000);



</script>