{# Cette page est le formulaire de la page mot de passe oublié #}

{% extends "QuelpConnectBundle::layout.html.twig" %}

{% block title %} Reinitialisation du mot de passe {% endblock %}

{% block content %}

    <div class="row">
        <br><br><br/>
        <div class="col-md-6 col-md-offset-3" align="center">
            <h1 style="color: #f5f5f5;font-weight: 300;letter-spacing: 2px;word-spacing: 2px;font-family: 'lato' sans-serif">Mot de passe oublié ?</h1>
        </div>
        <br><br>
        <div class="col-md-6 col-md-offset-3" style="margin-top: 55px">


            {% block fos_user_content %}


                {% trans_default_domain 'FOSUserBundle' %}

                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            {% if invalid_username is defined %}
                                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                            {% endif %}
                            <label for="username" class="col-sm-4 control-label" style="font-weight: 400;letter-spacing: 1px;color: rgba(0, 0, 0, 0.5)"></label>
                            <input class="form-control" type="text" id="username" name="username" required="required" placeholder="Entrez votre adresse mail ou votre nom d'utilisateur" style="font-size: 13px;font-style: italic;text-align: center"/>
                        </div>
                        <div>

                            <label style="margin: 35px 30px 0 30px;text-align: center;color: #f5f5f5;font-weight: 400;font-size: 15px">
                                Et nous vous ferons parvenir un e-mail avec un lien vous permettant de définir un nouveau mot de passe.
                            </label>
                            <br/><br/>

                            <div class="form-group" align="center">
                                <button type="submit" class="btn btn-info">Réinitialiser</button>
                            </div>
                            <!--<input type="submit" value="{{ 'resetting.request.submit'|trans }}" /> -->
                        </div>
                    </div>
                </form>

            {% endblock fos_user_content %}

        </div>
    </div>

{% endblock %}

