{% extends "QuelpMessageBundle::layout.html.twig" %}

{% block title %} Message {% endblock %}

{% block content %}


<div class="col-xs-12 col-md-2" style="margin-top: 20px">
    <div class="panel panel-primary" style="padding: 30px 0 30px 0;text-align: center">
        <div class="friend-connect-title">
            <span style="color:green"><i class="glyphicon glyphicon-off" style="font-size:17px;"></i></span>
            <strong> Amis&nbsp;Actifs </strong>
        </div>

        <table style="width:100%">
            <tr>
                <td class="flip">

                    <img class="media-object img-circle" src="img/mannoula.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                    <div class="media-body">
                        <h5 class="media-heading">Ami2</h5>
                    </div>


                    <div class="panel-message">


                    </div>
                </td>
            </tr>
            <tr>
                <td class="flip">

                    <img class="media-object img-circle" src="img/avatarmanel.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                    <div class="media-body">
                        <h5 class="media-heading">Ami2</h5>
                    </div>


                    <div class="panel-message">


                    </div>
                </td>
            </tr>
            <tr>
                <td class="flip">

                    <img class="media-object img-circle" src="img/avatarmanel.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                    <div class="media-body">
                        <h5 class="media-heading">Ami2</h5>
                    </div>


                    <div class="panel-message">


                    </div>
                </td>
            </tr>
            <td class="flip">

                <img class="media-object img-circle" src="img/avatarmanel.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                <div class="media-body">
                    <h5 class="media-heading">Ami2</h5>
                </div>


                <div class="panel-message">


                </div>
            </td>
            </tr>
            <tr>
                <td class="flip">

                    <img class="media-object img-circle" src="img/avatarmanel.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                    <div class="media-body">
                        <h5 class="media-heading">Ami2</h5>
                    </div>


                    <div class="panel-message">


                    </div>
                </td>
            </tr>
        </table>


    </div>
</div>

{% endblock %}