Hello



<form method="post" {{ form_enctype(img_form) }}>
	{{ form_widget(img_form) }}
	<input type="submit" />
</form>


<img src='{{ asset('bundles/front/uploads/images/'~img.imageName) }}' alt='mon test'/>