

{% extends "QuelpImageBundle::layout.html.twig" %}

{% block title %} Acceuil {% endblock %}

{% block content %}

    {{ form_comment(form_comment) }}

    <br><br>
    <div class="col-xs-12 col-md-3" >
        <div class="panel panel-primary"  align="center"  >
            <br>
            <img src="{{asset('bundles/front/img/manel.jpg')}}"  height="35%" width="35%" class="img-thumbnail" >
            <p><strong>Nom&Prenom</strong></p>
            <br><br><br><br><br><br>
            <div class="" align ="left">
                &nbsp;&nbsp;
                <span class="glyphicon glyphicon-camera"></span> <strong>TELECHARGER</strong>
            </div>
            <br>
            <div class="form-group">
                <input type="file" id="exampleInputFile">
            </div>
            <br>
            <button type="submit" class="btn btn-sm"><strong>VAlIDER</strong></button>
            <br><br><br><br>
            <div class="" align ="left" >
                &nbsp;&nbsp;
                <span class="glyphicon glyphicon-pencil"></span> <strong>ECRIRE</strong></div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <!--<textarea class="form-control" rows="3" placeholder="Exprimer-vous" style=" width: 98%"></textarea>
            -->
            {{ form(form) }}
            <br>
            <button type="submit" class="btn btn-sm"><strong>VAlIDER</strong></button>
            <br><br><br><br>
            <br>
            <br>
        </div>
    </div>


    <div class="col-xs-12 col-md-7 panel">

        <!-- <h4 style="margin-left: -15px;width: 100%;padding: 20px;background-color: wheat;color: #ffffff">Actualité</h4>-->

        <div class="col-md-12">

            <br><br>
            <ul>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="...">

                        <div class="media-body">
                            <h5 class="media-heading">Ami XY</h5>

                        </div>
                    </a>
                </li>
            </ul>
            <br>
            <!--<p><strong>Bsr les amis, je suis en 1ere année master dev et je cherche quelqu'un .....</strong></p>-->
            {% for key, row in user_lesson %}
                <ul>
                    <li>{{ row.subject }}</li>
                    <li>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Ecrire quelque chose"/>
                                 <span class="input-group-btn">
                                      <button class="btn btn-info" type="button">Réagir</button>
                                 </span>
                        </div>
                        <br><br>
                    </li>
                </ul>
                <br>
            {% endfor %}
            <br><br>

            <!-- Bloc Manel -->

        </div></div>

    <div class="col-xs-12 col-md-2">
        <div class="panel panel-primary" style="padding: 0px 0 30px 0;text-align: center">
            <div class="friend-connect-title">
                <span style="color:green"><i class="glyphicon glyphicon-off" style="font-size:17px;"></i></span>
                <strong> Amis&nbsp;Actifs </strong>
            </div>
            <br>
            <ul>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle" src="img/avatarmanel.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                        <div class="media-body">
                            <h5 class="media-heading">Ami1</h5>
                        </div>
                    </a>
                </li>

                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle" src="img/user.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                        <div class="media-body">
                            <h5 class="media-heading">Ami2</h5>
                        </div>
                    </a>
                </li>

                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle" src="img/user.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                        <div class="media-body">
                            <h5 class="media-heading">Ami3</h5>
                        </div>
                    </a>
                </li>

                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle" src="img/user.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                        <div class="media-body">
                            <h5 class="media-heading">Ami4</h5>
                        </div>
                    </a>
                </li>

                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle" src="img/user.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                        <div class="media-body">
                            <h5 class="media-heading">Ami5</h5>
                        </div>
                    </a>
                </li>

                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle" src="img/user.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                        <div class="media-body">
                            <h5 class="media-heading">Ami6</h5>
                        </div>
                    </a>
                </li>

                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle" src="img/user.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                        <div class="media-body">
                            <h5 class="media-heading">Ami7</h5>
                        </div>
                    </a>
                </li>

                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle" src="img/user.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                        <div class="media-body">
                            <h5 class="media-heading">Ami8</h5>
                        </div>
                    </a>
                </li>

                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle" src="img/user.jpg" width="35" height="35" style="float: left;border: 1px solid grey">
                        <div class="media-body">
                            <h5 class="media-heading">Ami9</h5>
                        </div>
                    </a>
                </li>

            </ul>
        </div> </div>

    </div>
{% endblock %}