/*

    Custom.css
    All right reserved @Quelp

    Summary :

    -- 1.0 - Width Screen Use
    -- 2.0 - Default CSS
    -- 3.0 - Formulaire

*/


/************************

** 1.0 WIDTH SCREEN USE

*************************/

@media screen and (min-width:320px)     and (max-width: 481px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media screen and (min-width:481px)     and (max-width: 641px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media screen and (min-width:641px)     and (max-width: 961px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media screen and (min-width:961px)     and (max-width: 1024px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media screen and (min-width:1024px)    and (max-width: 1281px) { /* big landscape tablets, laptops, and desktops */ }
@media screen and (min-width:1281px)                            { /* hi-res laptops and desktops */ }

/************************

** 2.0 DEFAULT CSS

*************************/


/*------ PAGE ACCUEIL/INSCRIPTION/CONNEXION --------*/

html, body
{
    background: url('../img/sky11.jpg');
    background-size: cover;
}

.header
{
    background-color: rgba(255, 255, 255, 0.1);
}

.logo
{
    color: #ffffff;
    margin-top: 5px;
    margin-left: 100px;
}

@media screen and (max-width: 1200px) {

    .form-connexion label
    {
        display: none;
    }
}

/************************

** 3.0 Formulaire

*************************/

/* ----- BEGIN REGISTER ----- */

.label-from-form
{
    color: white;
}

.label-from-form label
{
    font-family: "Helvetica Neue" sans-serif;
    font-weight: 300;
}

.input-from-form input
{
    cursor: pointer;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    font-style: normal; !important
line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}


.input-from-form input:-moz-placeholder, textarea:-moz-placeholder {
    padding: 2px 0 0 10px;
    font-style: italic;
    font-size: 11px;
    color: darkgray;
}

.input-from-form input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    padding: 2px 0 0 10px;
    font-style: italic;
    font-size: 11px;
    color: darkgray;
}

.input-from-form input.placeholder, textarea.placeholder {
    padding: 2px 0 0 10px;
    font-style: italic;
    font-size: 11px;
    color: darkgray;
}

.error-from-form ul li
{
    padding: 50px 0 0 130px;
    list-style: none;
    color: darkred;
}

.birthday-date select
{

}
/* ----- END REGISTER ----- */


/* ----- BEGIN LOGIN ----- */

.log-in input
{
    cursor: pointer;
}

.log-in input:-moz-placeholder, textarea:-moz-placeholder {
    padding: 2px 0 0 5px;
    font-style: italic;
    font-size: 11px;
    color: darkgray;
}

.log-in input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    padding: 2px 0 0 5px;
    font-style: italic;
    font-size: 11px;
    color: darkgray;
}

.log-in input.placeholder, textarea.placeholder
{
    padding: 2px 0 0 5px;
    font-style: italic;
    font-size: 11px;
    color: darkgray;
}

.custom-label-login
{
    font-family: "Helvetica Neue" sans-serif;
    font-weight: 200;
    color: dimgray;
}

.connect-status
{
    display: none;
    position: absolute;
    top: 10px;
    right: 10%;
}

.know-status
{
/*    display: none;*/
    margin-right: 20px;
}

.login-confirm
{
    border: 4px solid red;
}
/* ----- END LOGIN ----- */

.img-complete-profil
{

    position: relative;
    padding: 10px 50px 10px 50px;
    left: -20px;
    display: none;
    z-index: 1;
}

/* ----- MESSAGERIE ----- */

.list-friend
{
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    vertical-align: middle;
}

.list-friend h5
{
    font-weight: 300;
    font-size: 16px;
    /* Deconnecter */
    color: rgba(0, 0, 0, 0.5);
}

.connect-friend h5
{
   color: #000000;
}
.end-list-friend
{
    padding-bottom: 10px;
}

.name-for-user
{
    font-size: 18px;
    font-weight: 300;
}
.name-for-user:first-letter
{
    text-transform: uppercase;
}

.name-for-user span:nth-child(2):first-letter
{
    text-transform: uppercase;
}

.chat
{
    width: 100%;
    height: 350px;
    overflow: auto;
}

.chat li
{
    width: 90%;
}

.modal-for-message .panel-body
{
    padding: 15px 0 0 0;
}

.img-friend-deconnect
{
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
}

.chat li
{
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}

.sender-message-form
{
    float: left;
    width: 50%;
}

.send-message-form
{
    width: 50%;
    display: block;
    float: right;
}

.sender-message-form label,
.send-message-form label
{
    display: none;
}

#form div:nth-child(1)
{
    float: left;
    display: inline-block;
    width: 80%;
}

#form div
{
    display: inline-block;
}

#form label
{
    display: none;
}
