.navbar-inverse {
    background-color: #2884C8;
    border-color: #080808;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: rgba(16, 145, 255, 1);
    border-radius: 10px;
}

.boder {
    border-radius: 10px;
    padding: 20px 30px;
/*    border: 2px solid black;*/
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.surname-profil:first-letter
{
    text-transform: uppercase;
}

.firstname-profil:first-letter
{
    text-transform: uppercase;
}

.edit-profil
{
    margin-top: 10px;
    margin-left: 15px;
    padding: 7px 10px 10px 10px;
    width: 30%;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: url('../img/bg_Foto.jpg');
    border-radius: 5px;
}

.news
{
    margin: 10px 0 10px 0;
}
.follow-list
{
    float: left;
    width: 305px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #EEE;
    padding-left: 15px;
}