

body
{
    background : url("../img/sky11.jpg") no-repeat;
    background-size : cover;

}


.icone_m i
{
    font-size:20px;
    color:#0B7C9F;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius:50px;
    padding: 8px;
    margin: 5px;
}

li
{
    list-style-type: none;
}

.modal-footer
{
    text-align: left;
}

.thumbnail
{
    margin: 15px;
}

.media-heading
{
    margin: 15px 10px 0 15px;
}

.comments
{
    margin-left: 15px;
}
.comments p
{
    text-align: justify;
    width: 95%;
}

.bloc-comments
{
    color: dimgray;
}

.friend-connect-title
{
    padding: 15px 0 30px 0;
}


.rollopaque img {
    opacity: 1.0;
    filter:alpha(opacity=100);
    border:0;
}

.rollopaque:hover img {
    opacity: 0.7;
    filter:alpha(opacity=60);
    border:0;
}

.rollopaque:hover {
    background:#FFF;
}

.hide-title
{
    position: absolute;
    right: 15%;
    top: 10%;
    font-size: 15px;
    left: 10.5%;
    width: 79%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    display: none;
}

.delete-pictures
{
    position: absolute;
    right: 15%;
    display: none;
    bottom: 10%;
}
.confirm-delete-pictures
{
    display: none;
}
.add-pictures
{
    position: absolute;
    left:5%;
    display: none;
    bottom: 0%;
}
.confirm-add-pictures
{
    display: none;
}


.panel
{
    background-color: rgba(255, 255, 255, 0.75);
}
.add-albums
{
    position: absolute;
    left:5%;
    display: none;
    top: 10%;
}
#upload .browse input[type='file']{
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    height: 1px;
    width: 1px;
    z-index: -5;
}
