<body background= "../bg_Foto.jpg" background-size ="cover">
<div class="row-fluid">
    <div style="background: rgba(255, 255, 255, 0.5);height: 165px" >
        <table class="table table-striped">
            <tr class="info">

                <div class="" style="padding-top: 0px;padding-bottom: 5px;background: rgba(255, 255, 255, 0.8); height: 18px">
                    <div class="pull-left" style ="margin-top: -15px">
                    </div>
                    <div class="alert alert-info" role="alert" height= "10px">
                        <div class="pull-right" style="margin-top: -10px">

                        </div></div>
                </div></div>
    </tr></table>

    <div class="col-md-12" style="margin-top: 9px">
        <div class="">&nbsp;&nbsp;
            <img src="img/Quel.png" height="15%" width="15%" style="margin-top: -20px; font-size: 12px"></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#"><img src="img/1413006542_home.png" height="3.3%" width="3.5%" ></a>




        <div class="pull-right" style="margin-top:-40px">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-info">OK</button>
            </form>

            <div class="form-group">

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me

                    </label>
                    <a class="brand" href="#" style="padding-left: 70px">Mot de passe oublié?</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row"  >
    <br><br><br><br>
    <div class="col-md-6 col-md-offset-3" align="center" style="color: #23666F">
        <h2><strong>Mot de passe oublié ???</strong></h2>

    </div>
    <br><br>
    <div class="col-md-6 col-md-offset-3" style="margin-top: 60px">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputPassword" class="col-sm-3 control-label"style="padding-left: 23px">Entrer votre e-mail</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword" placeholder="E-mail">
                </div>
            </div>
        </form>
        <label style="margin-left: 1Opx">
            et nous vous ferons parvenir un e-mail avec un lien vous permettant de définir un nouveau mot de passe.
        </label>
        <br><br>
        <div class="form-group" align="center">
            <button type="submit" class="btn btn-info">ENVOYER</button>
        </div> </div>

</div>    </div>

</div>


</div>
</div>

</body>